body{
    background: linear-gradient(to left, rgb(27, 65, 3), black);
    display: flex;
    justify-content : center;
    align-items: center;
    width: 100wh;
    height: 100vh;
}

.time{
    position: absolute;
    color: #ffff  ;
    font-size: 80px ;
    
}