body {
    background-color: #393E46;
}
  
tr {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 2rem;
    color: #4ECCA3;
}

h2 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 2rem;
    color: #4ECCA3;
    font-size: 5rem;
}

h4 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 2rem;
    color: #4ECCA3;
    font-size: 3rem;
}

.dateField{
    display: flex;
    border-radius: 1rem;
    width: 12rem;
    height: 2rem;

}


.countdownContainer{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background: #ddd;
    border: 1px solid #999;
    padding: 10px;
    box-shadow: 0 0 5px 3px #ccc;
    display: grid;
    grid-template-rows: 40% 15% 15% 15% 15%;
    padding-bottom: 20px;
}

.row{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;;
    padding-bottom: 1rem;
}

.time-component{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    padding-top: 1rem;
}

.button{
    border-radius: 3rem;
    width: 8rem;
    height: 2rem;
    background-color:  #4ECCA3;
    color: black;
    margin-bottom: 2rem;

}